<?xml version="1.0"?>
<config>
    <modules>
        <Product_Blood>
            <version>0.2.0</version>
        </Product_Blood>
    </modules>
    <global>
        <helpers>
            <product_blood>
                <class>Product_Blood_Helper</class>
            </product_blood>
        </helpers>
        <blocks>
            <product_blood>
                <class>Product_Blood_Block</class>
            </product_blood>
        </blocks>
        <models>
            <product_blood>
                <class>Product_Blood_Model</class>
                <resourceModel>product_blood_resource</resourceModel>
            </product_blood>
            <product_blood_resource>
                <class>Product_Blood_Model_Resource</class>
                <entities>
                    <blood>
                        <table>product_blood_blood</table>
                    </blood>
                    <blood_product>
                        <table>product_blood_product</table>
                    </blood_product>
                </entities>
            </product_blood_resource>
        </models>
        <resources>
            <product_blood_setup>
                <setup>
                    <module>Product_Blood</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </product_blood_setup>
            <product_blood_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </product_blood_write>
            <product_blood_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </product_blood_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <product_blood>
                <use>standard</use>
                <args>
                    <module>Product_Blood</module>
                    <frontName>blood</frontName>
                </args>
            </product_blood>
        </routers>
        <layout>
            <updates>
                <product_blood>
                    <file>product/blood.xml</file>
                </product_blood>
            </updates>
        </layout>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <product_blood>
                        <class>product_blood/observer</class>
                        <method>addToTopmenu</method>
                    </product_blood>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Product_Blood_Adminhtml before="Mage_Adminhtml">Product_Blood_Adminhtml</Product_Blood_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <product_blood>
                    <files>
                        <default>Product_Blood.csv</default>
                    </files>
                </product_blood>
            </modules>
        </translate>
        <layout>
            <updates>
                <product_blood>
                    <file>product/blood.xml</file>
                </product_blood>
            </updates>
        </layout>
    </adminhtml>
</config>